<div class="mat-app-background basic-container">

    <div class="flex-div ">
        <h1 style="    color: #002A8D;
        font-weight: 600;margin-top: 70px">Tipos de Cambio</h1>
      </div>
    
 <app-table-pagination>loading</app-table-pagination>
 <div class="flex-div" style="    justify-content: flex-start;
 margin-top: 10px; margin-left: 10px;">
    <button (click)="goNewChange()" type="button" class="btn-principal btn btn-success btn-margin-top-right" >
        Nuevo
    </button>
</div>
</div>
