/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.flex-div{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px
}




input[type="text"],
input[type="password"],
input[type="email"]{
  background-color: #f8fbf9 !important;
}


::-webkit-input-placeholder { /* Edge */
    color: rgba(0, 42, 141, 50%);
  }
  
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: rgba(0, 42, 141, 50%);
  }
  
  ::placeholder {
    color: rgba(0, 42, 141, 50%);
  }



.label-principal{
  color: #002A8D;
    font-weight: bold;
}


.color-principal{
  color: #002A8D;
}


.btn-principal{
    color: #fff;
    background-color: #ff961e;
    border-color: #ff961e;
}

